annotated-types==0.5.0
anyio==4.1.0
asttokens==2.2.1
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
colorama==0.4.6
exceptiongroup==1.1.2
executing==1.2.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
icecream==2.1.0
idna==3.4
outcome==1.2.0
pydantic==2.0.3
pydantic_core==2.3.0
Pygments==2.15.1
PySocks==1.7.1
python-telegram-bot==20.7
selenium==4.10.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.7.1
urllib3==2.0.3
wsproto==1.2.0
requests==2.31
pandas==1.3.3
pdfkit
tabulate
openpyxl